.resumeGame {
    display: inline;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.resumeGamebtn {
    background-color: rgb(30, 85, 140);
    color: white;
}

.startNewGamebtn {
    background-color: rgb(247, 59, 59);
    color: white;
}