<div class="d-flex h-100 bg-blur justify-content-center align-items-center">
  <form #loginForm="ngForm" class="poker-primary poker-form login-form" (submit)="onSubmit(loginForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" ngModel id="exampleInputEmail1"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control" ngModel
        id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-light">Submit</button>
  </form>
</div>