.player {
  background-color: rgba(0, 0, 0, 0.505);
  width: 25rem;
  height: 9rem;
  display: flex;
  justify-content: left;
  padding: 0.5rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.505);
  border-radius: 1rem;
}

.playerAI {
  background-color: rgba(0, 0, 0, 0.505);
  width: 10rem;
  height: 8rem;
  font-size: small;
}

.bottom-player {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 50%;
}

.player-text {
  width: 50%;
  justify-content: center;
  color: white;
}

.card {
  width: 80px;
  height: 120px;
  display: inline;
  margin: 0.3rem;
}

.player-cards {
  opacity: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 64px;
  height: 32px;
  border: none;
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 5.5rem;
  width: 13rem;
  font-size: 10px;
}

.craise {
  display: flex;
  flex-direction: row;
}

.p-moves {
  position: absolute;
  bottom: 0;
  right: 0;
}

.checkbtn {
  background-color: rgb(49, 88, 43);
}

.raisebtn {
  background-color: rgb(173, 193, 39);
}

.craisebtn {
  background-color: rgb(173, 193, 39);
  width: 6rem;
}

.foldbtn {
  background-color: rgb(160, 24, 7);
}

.checkbtn:hover {
  background-color: rgb(39, 69, 34);
  scale: 1.1;
}

.raisebtn:hover {
  background-color: rgb(137, 153, 31);
  scale: 1.1;
}

.foldbtn:hover {
  background-color: rgb(119, 20, 7);
  scale: 1.1;
}

.situptbn {
  width: 10rem;
  height: 7rem;
}

.gameInfo {
  position: inherit;
  text-align: right;
  color: white;
  height: auto;
  font-size: small;
  left: 18rem;
}

.top-player {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
}

.table-cards {
  /*background-color: rgba(0, 0, 0, 0.505);*/
  width: 30rem;
  height: 8rem;
  font-size: small;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.situp {
  position: absolute;
  left: 0;
  bottom: 0;
}

.situpbtn {
  background-color: rgb(31, 24, 78);
  color: white;
}

.situpbtn:hover {
  background-color: rgb(47, 36, 120);
}

.center {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.tablecard {
  scale: 1.3;
}

.raisediv{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 91px;
  height: 25%;
  right: 38%;
  width: 33rem;
}

.cbutton {
  width: 64px;
  height: 32px;
  border: none;
  border-radius: 0.5rem;
}

.craiseinp {
  width: 5rem;
}
