.poker-primary {
  background-color: rgba(71, 113, 72, 0.81);
  opacity: 90%;
}

body {
  background-image: url("https://img.freepik.com/premium-vector/poker-table-background-green-color_47243-1094.jpg?w=1380");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blur {
  backdrop-filter: blur(10px);
}


.poker-form {
  opacity: 80%;
  border-color: darkgray;
  border-radius: 2rem;
  border-style: solid;
  padding: 1rem;
  margin: auto;
}